*.log
*.exe
*.txt
*.xlsx
*.xls
*.xlsb
*.avi
*.csv
*.md
*.jpg
*.html
!README.md
QR.png
test*
试验.*
.metadata/*

#PyDev
.project
.pydevproject
.settings

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
 
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
 
# My configurations:
db.ini
deploy_key_rsa
/.metadata/
