*.log
*.exe
*.xlsx
*.xls
*.xlsb
*.avi
*.csv
*.md
*.html
*.db
p*.py
!README.md
QR.png
test*
!testlearn
试验.*
.metadata/*
!testcase.py
!testload.py
!testsuite_testrunner.py

#PyDev
.project
.pydevproject
.settings

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
 
# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
 
# My configurations:
db.ini
deploy_key_rsa
/.metadata/

#others
__pycache__
*.pyc